In [ ]:

import pandas as pd

cols = ['engine_id', 'cycle', 'op1', 'op2', 'op3'] + [f"sensor{i}" for i in range(1,22)]

df = pd.read_csv("../dataset/train_FD001.txt", sep=r"\s+", header=None)
df.columns = cols

In [ ]:
df.groupby('engine_id').engine_id.count()

engine_id
1      192
2      287
3      179
4      189
5      269
      ...
96     336
97     202
98     156
99     185
100    200
Name: engine_id, Length: 100, dtype: int64

In [ ]:
df.groupby('engine_id').cycle.max()

engine_id
1      192
2      287
3      179
4      189
5      269
      ...
96     336
97     202
98     156
99     185
100    200
Name: cycle, Length: 100, dtype: int64

In [ ]:
df.groupby('engine_id').cycle.min()

engine_id
1      1
2      1
3      1
4      1
5      1
      ..
96     1
97     1
98     1
99     1
100    1
Name: cycle, Length: 100, dtype: int64

In [ ]:
df.groupby('engine_id')['cycle'].agg(['count', 'min', 'max'])

           count  min  max
engine_id
1            192    1  192
2            287    1  287
3            179    1  179
4            189    1  189
5            269    1  269
...          ...  ...  ...
96           336    1  336
97           202    1  202
98           156    1  156
99           185    1  185
100          200    1  200

[100 rows x 3 columns]

In [ ]:
df.groupby(['engine_id', 'cycle']).sensor2.mean()

engine_id  cycle
1          1        641.82
           2        642.15
           3        642.35
           4        642.35
           5        642.37
                     ...
100        196      643.49
           197      643.54
           198      643.42
           199      643.23
           200      643.85
Name: sensor2, Length: 20631, dtype: float64

In [ ]:
grouped = df.groupby(['engine_id']).cycle.count().reset_index()
print(grouped)

    engine_id  cycle
0           1    192
1           2    287
2           3    179
3           4    189
4           5    269
..        ...    ...
95         96    336
96         97    202
97         98    156
98         99    185
99        100    200

[100 rows x 2 columns]

In [ ]:
engine_life = df.groupby('engine_id').cycle.max().reset_index()

engine_life.sort_values(by='cycle', ascending=False)

    engine_id  cycle
68         69    362
91         92    341
95         96    336
66         67    313
82         83    293
..        ...    ...
57         58    147
69         70    137
56         57    137
90         91    135
38         39    128

[100 rows x 2 columns]

In [17]:
engine_life.sort_index()

    engine_id  cycle
0           1    192
1           2    287
2           3    179
3           4    189
4           5    269
..        ...    ...
95         96    336
96         97    202
97         98    156
98         99    185
99        100    200

[100 rows x 2 columns]