In [ ]:
import pandas as pd

cols = ['engine_id', 'cycle', 'op1', 'op2', 'op3'] + [f"sensor{i}" for i in range(1,22)]

df = pd.read_csv("../dataset/train_FD001.txt", sep=r"\s+", header=None)
df.columns = cols

In [ ]:
df['sensor2'].dtype

dtype('float64')

In [ ]:
df.dtypes

engine_id      int64
cycle          int64
op1          float64
op2          float64
op3          float64
sensor1      float64
sensor2      float64
sensor3      float64
sensor4      float64
sensor5      float64
sensor6      float64
sensor7      float64
sensor8      float64
sensor9      float64
sensor10     float64
sensor11     float64
sensor12     float64
sensor13     float64
sensor14     float64
sensor15     float64
sensor16     float64
sensor17       int64
sensor18       int64
sensor19     float64
sensor20     float64
sensor21     float64
dtype: object

In [ ]:
df['engine_id'] = df['engine_id'].astype('float64')
df['engine_id'].dtype

dtype('float64')

In [ ]:
df.isna().sum()

engine_id    0
cycle        0
op1          0
op2          0
op3          0
sensor1      0
sensor2      0
sensor3      0
sensor4      0
sensor5      0
sensor6      0
sensor7      0
sensor8      0
sensor9      0
sensor10     0
sensor11     0
sensor12     0
sensor13     0
sensor14     0
sensor15     0
sensor16     0
sensor17     0
sensor18     0
sensor19     0
sensor20     0
sensor21     0
dtype: int64

In [ ]:
df[df['sensor2'].isnull()]

Empty DataFrame
Columns: [engine_id, cycle, op1, op2, op3, sensor1, sensor2, sensor3, sensor4, sensor5, sensor6, sensor7, sensor8, sensor9, sensor10, sensor11, sensor12, sensor13, sensor14, sensor15, sensor16, sensor17, sensor18, sensor19, sensor20, sensor21]
Index: []

[0 rows x 26 columns]