In [26]:
#show dataset 
import pandas as pd

cols = ['engine_id', 'cycle', 'op1', 'op2', 'op3'] + [f"sensor{i}" for i in range(1,22)]

df = pd.read_csv("../dataset/train_FD001.txt", sep=r"\s+", header=None)
df.columns = cols

df.head()

,engine_id,cycle,op1,op2,op3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor12,sensor13,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [27]:
df['sensor1'].describe()
#describe() method gives us a statistical summary of the sensor1 
# column, including count, mean, std, min, 25th percentile, 
# 50th percentile (median), 75th percentile, and max values.

count    20631.00
mean       518.67
std          0.00
min        518.67
25%        518.67
50%        518.67
75%        518.67
max        518.67
Name: sensor1, dtype: float64

In [28]:
df['engine_id'].describe()
#engine_id is a categorical variable that represents 
# the unique identifier for each engine in the dataset.

count    20631.000000
mean        51.506568
std         29.227633
min          1.000000
25%         26.000000
50%         52.000000
75%         77.000000
max        100.000000
Name: engine_id, dtype: float64

In [29]:
df['sensor1'].mean()
#mean() method calculates the average value of the sensor1 column,

np.float64(518.67)

In [12]:
df.mean()
#it will calculate the mean of all the numerical columns in the dataframe

engine_id      51.506568
cycle         108.807862
op1            -0.000009
op2             0.000002
op3           100.000000
sensor1       518.670000
sensor2       642.680934
sensor3      1590.523119
sensor4      1408.933782
sensor5        14.620000
sensor6        21.609803
sensor7       553.367711
sensor8      2388.096652
sensor9      9065.242941
sensor10        1.300000
sensor11       47.541168
sensor12      521.413470
sensor13     2388.096152
sensor14     8143.752722
sensor15        8.442146
sensor16        0.030000
sensor17      393.210654
sensor18     2388.000000
sensor19      100.000000
sensor20       38.816271
sensor21       23.289705
dtype: float64

In [30]:
df['engine_id'].unique()
#return array of unique values in the engine_id column, 
# which represents the different engines present in the dataset.

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [16]:
df['engine_id'].value_counts()
#The value_counts() function counts how many times each unique value appears in a column.
#In this case, it shows how many cycles each engine ran before failure.
#This is important for understanding engine lifespan distribution.

engine_id
69    362
92    341
96    336
67    313
83    293
     ...
58    147
57    137
70    137
91    135
39    128
Name: count, Length: 100, dtype: int64

In [31]:
# so the output depicts that engine id 69 has appered
# 362 times before failure in the dataset so the value count is 362

In [ ]:
sensor1_mean = df['sensor1'].mean()

df['sensor1'].map(lambda x: x - sensor1_mean)
##not understood

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
20626    0.0
20627    0.0
20628    0.0
20629    0.0
20630    0.0
Name: sensor1, Length: 20631, dtype: float64

In [32]:
#apply()
def adjust_sensor1(row): #it will take one full row of the dataframe it will contain all columns engine_id ,cycle etc
    row['sensor1'] = row['sensor1'] - sensor1_mean  #This subtracts the mean from that row’s sensor1 value
    return row #This gives back the updated row.

df.apply(adjust_sensor1, axis='columns')

,engine_id,cycle,op1,op2,op3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor12,sensor13,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21
0,1.0,1.0,-0.0007,-0.0004,100.0,0.0,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392.0,2388.0,100.0,39.06,23.4190
1,1.0,2.0,0.0019,-0.0003,100.0,0.0,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392.0,2388.0,100.0,39.00,23.4236
2,1.0,3.0,-0.0043,0.0003,100.0,0.0,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390.0,2388.0,100.0,38.95,23.3442
3,1.0,4.0,0.0007,0.0000,100.0,0.0,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392.0,2388.0,100.0,38.88,23.3739
4,1.0,5.0,-0.0019,-0.0002,100.0,0.0,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393.0,2388.0,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100.0,196.0,-0.0004,-0.0003,100.0,0.0,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397.0,2388.0,100.0,38.49,22.9735
20627,100.0,197.0,-0.0016,-0.0005,100.0,0.0,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395.0,2388.0,100.0,38.30,23.1594
20628,100.0,198.0,0.0004,0.0000,100.0,0.0,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398.0,2388.0,100.0,38.44,22.9333
20629,100.0,199.0,-0.0011,0.0003,100.0,0.0,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395.0,2388.0,100.0,38.29,23.0640
20630,100.0,200.0,-0.0032,-0.0005,100.0,0.0,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396.0,2388.0,100.0,38.37,23.0522

In [ ]:
#sensor1_mean = 100
#each value = 100
#100 - 100 = 0
#sensor1 = 0.0 everywhere
# map() works on single coumn and apply() works on whole dataframe
#It returns a new DataFrame and does not modify the original data.

In [20]:
#vectorized Opertaion
#Instead of using map() or apply(), we directly subtract the mean from the entire column.
#Pandas automatically applies the operation element-wise.
#Vectorized operations are faster and more efficient than map() or apply().
df['sensor1'] - sensor1_mean

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
20626    0.0
20627    0.0
20628    0.0
20629    0.0
20630    0.0
Name: sensor1, Length: 20631, dtype: float64

In [21]:
#combining columns
#Here, we combine two columns into a single representation.
#astype(str) converts numeric values to strings so they can be concatenated.
#This demonstrates how pandas allows element-wise operations between Series.

df['engine_id'].astype(str) + " - Cycle " + df['cycle'].astype(str)

0            1 - Cycle 1
1            1 - Cycle 2
2            1 - Cycle 3
3            1 - Cycle 4
4            1 - Cycle 5
              ...
20626    100 - Cycle 196
20627    100 - Cycle 197
20628    100 - Cycle 198
20629    100 - Cycle 199
20630    100 - Cycle 200
Length: 20631, dtype: str

In [22]:
#here the output because we are adding int+spring 
#engine_id 1     cycle 1
#"1" + " - Cycle " + "1"
#= "1 - Cycle 1"