In [2]:
import pandas as pd

file_path = "../dataset/raw/Cmaps/train_FD001.txt"
df = pd.read_csv(file_path, sep=r"\s+", header=None, engine="python")

columns = ["engine_id", "cycle"] + \
          [f"op_setting_{i}" for i in range(1, 4)] + \
          [f"sensor_{i}" for i in range(1, 22)]

df.columns = columns

In [3]:
df['engine_id']

0          1
1          1
2          1
3          1
4          1
        ...
20626    100
20627    100
20628    100
20629    100
20630    100
Name: engine_id, Length: 20631, dtype: int64

In [4]:
df.cycle

0          1
1          2
2          3
3          4
4          5
        ...
20626    196
20627    197
20628    198
20629    199
20630    200
Name: cycle, Length: 20631, dtype: int64

In [5]:
df['engine_id'][0]

np.int64(1)

In [6]:
df.iloc[0]

engine_id          1.0000
cycle              1.0000
op_setting_1      -0.0007
op_setting_2      -0.0004
op_setting_3     100.0000
sensor_1         518.6700
sensor_2         641.8200
sensor_3        1589.7000
sensor_4        1400.6000
sensor_5          14.6200
sensor_6          21.6100
sensor_7         554.3600
sensor_8        2388.0600
sensor_9        9046.1900
sensor_10          1.3000
sensor_11         47.4700
sensor_12        521.6600
sensor_13       2388.0200
sensor_14       8138.6200
sensor_15          8.4195
sensor_16          0.0300
sensor_17        392.0000
sensor_18       2388.0000
sensor_19        100.0000
sensor_20         39.0600
sensor_21         23.4190
Name: 0, dtype: float64

In [7]:
df.iloc[:, 0]

0          1
1          1
2          1
3          1
4          1
        ...
20626    100
20627    100
20628    100
20629    100
20630    100
Name: engine_id, Length: 20631, dtype: int64

In [8]:
df.iloc[:3, 0]

0    1
1    1
2    1
Name: engine_id, dtype: int64

In [9]:
df.iloc[1:3, 0]

1    1
2    1
Name: engine_id, dtype: int64

In [10]:
df.iloc[[0, 1, 2], 0]

0    1
1    1
2    1
Name: engine_id, dtype: int64

In [11]:
df.iloc[-5:]

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [12]:
df.loc[0, 'engine_id']

np.int64(1)

In [13]:
df.loc[:, ['engine_id', 'cycle', 'sensor_1']]

       engine_id  cycle  sensor_1
0              1      1    518.67
1              1      2    518.67
2              1      3    518.67
3              1      4    518.67
4              1      5    518.67
...          ...    ...       ...
20626        100    196    518.67
20627        100    197    518.67
20628        100    198    518.67
20629        100    199    518.67
20630        100    200    518.67

[20631 rows x 3 columns]

In [14]:
df.set_index('engine_id', inplace=True)

In [16]:
df.reset_index(inplace=True)

In [17]:
df[df['engine_id'] == 1]

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1,188,-0.0067,0.0003,100.0,518.67,643.75,1602.38,1422.78,14.62,...,519.79,2388.23,8117.69,8.5207,0.03,396,2388,100.0,38.51,22.9588
188,1,189,-0.0006,0.0002,100.0,518.67,644.18,1596.17,1428.01,14.62,...,519.58,2388.33,8117.51,8.5183,0.03,395,2388,100.0,38.48,23.1127
189,1,190,-0.0027,0.0001,100.0,518.67,643.64,1599.22,1425.95,14.62,...,520.04,2388.35,8112.58,8.5223,0.03,398,2388,100.0,38.49,23.0675
190,1,191,-0.0000,-0.0004,100.0,518.67,643.34,1602.36,1425.77,14.62,...,519.57,2388.30,8114.61,8.5174,0.03,394,2388,100.0,38.45,23.1295
191,1,192,0.0009,-0.0000,100.0,518.67,643.54,1601.41,1427.20,14.62,...,520.08,2388.32,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649

In [18]:
df[df['cycle'] > 100]

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
100,1,101,0.0012,0.0003,100.0,518.67,642.75,1584.18,1403.41,14.62,...,521.89,2388.08,8125.97,8.4353,0.03,391,2388,100.0,38.75,23.4149
101,1,102,0.0017,0.0005,100.0,518.67,642.85,1589.11,1403.42,14.62,...,521.38,2388.05,8130.40,8.4561,0.03,393,2388,100.0,38.94,23.3653
102,1,103,-0.0013,0.0001,100.0,518.67,642.21,1581.27,1403.21,14.62,...,521.41,2388.10,8124.40,8.4263,0.03,392,2388,100.0,38.69,23.4289
103,1,104,-0.0001,0.0001,100.0,518.67,642.29,1590.63,1406.25,14.62,...,522.38,2388.09,8131.89,8.4021,0.03,392,2388,100.0,38.96,23.3393
104,1,105,0.0024,0.0004,100.0,518.67,642.01,1588.28,1403.22,14.62,...,521.81,2388.08,8134.01,8.4326,0.03,393,2388,100.0,38.77,23.3857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [19]:
df[(df['engine_id'] == 1) & (df['cycle'] > 50)]

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
50,1,51,-0.0010,0.0003,100.0,518.67,642.81,1585.54,1400.42,14.62,...,521.91,2388.05,8134.36,8.4504,0.03,393,2388,100.0,38.94,23.3651
51,1,52,0.0018,-0.0001,100.0,518.67,642.76,1583.77,1395.57,14.62,...,522.10,2388.07,8132.82,8.4539,0.03,391,2388,100.0,39.00,23.3388
52,1,53,0.0021,-0.0001,100.0,518.67,642.61,1579.82,1402.26,14.62,...,521.96,2388.06,8134.38,8.4418,0.03,392,2388,100.0,38.90,23.3775
53,1,54,-0.0002,0.0005,100.0,518.67,642.42,1592.59,1401.20,14.62,...,522.44,2388.06,8129.95,8.4189,0.03,392,2388,100.0,38.96,23.2348
54,1,55,0.0009,-0.0000,100.0,518.67,642.41,1584.95,1401.58,14.62,...,522.11,2388.02,8134.10,8.4071,0.03,392,2388,100.0,39.06,23.3567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1,188,-0.0067,0.0003,100.0,518.67,643.75,1602.38,1422.78,14.62,...,519.79,2388.23,8117.69,8.5207,0.03,396,2388,100.0,38.51,22.9588
188,1,189,-0.0006,0.0002,100.0,518.67,644.18,1596.17,1428.01,14.62,...,519.58,2388.33,8117.51,8.5183,0.03,395,2388,100.0,38.48,23.1127
189,1,190,-0.0027,0.0001,100.0,518.67,643.64,1599.22,1425.95,14.62,...,520.04,2388.35,8112.58,8.5223,0.03,398,2388,100.0,38.49,23.0675
190,1,191,-0.0000,-0.0004,100.0,518.67,643.34,1602.36,1425.77,14.62,...,519.57,2388.30,8114.61,8.5174,0.03,394,2388,100.0,38.45,23.1295
191,1,192,0.0009,-0.0000,100.0,518.67,643.54,1601.41,1427.20,14.62,...,520.08,2388.32,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649