In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Projects\PrognosAI\dataset\train_FD001.txt", sep=r"\s+", header=None)

In [7]:
df.engine_id = df[0]

C:\Users\abhij\AppData\Local\Temp\ipykernel_21644\2209690591.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.engine_id = df[0]

In [8]:
df.engine_id

0          1
1          1
2          1
3          1
4          1
        ...
20626    100
20627    100
20628    100
20629    100
20630    100
Name: 0, Length: 20631, dtype: int64

In [9]:
column_names = ['engine_id', 'cycle'] + \
               [f'op_setting_{i}' for i in range(1, 4)] + \
               [f'sensor_{i}' for i in range(1, 22)]

df.columns = column_names

In [10]:
df.iloc[0]

engine_id          1.0000
cycle              1.0000
op_setting_1      -0.0007
op_setting_2      -0.0004
op_setting_3     100.0000
sensor_1         518.6700
sensor_2         641.8200
sensor_3        1589.7000
sensor_4        1400.6000
sensor_5          14.6200
sensor_6          21.6100
sensor_7         554.3600
sensor_8        2388.0600
sensor_9        9046.1900
sensor_10          1.3000
sensor_11         47.4700
sensor_12        521.6600
sensor_13       2388.0200
sensor_14       8138.6200
sensor_15          8.4195
sensor_16          0.0300
sensor_17        392.0000
sensor_18       2388.0000
sensor_19        100.0000
sensor_20         39.0600
sensor_21         23.4190
Name: 0, dtype: float64

In [11]:
df.iloc[:,0]

0          1
1          1
2          1
3          1
4          1
        ...
20626    100
20627    100
20628    100
20629    100
20630    100
Name: engine_id, Length: 20631, dtype: int64

In [13]:
df.iloc[:3,0]

0    1
1    1
2    1
Name: engine_id, dtype: int64

In [14]:
df.iloc[1:3,0]

1    1
2    1
Name: engine_id, dtype: int64

In [15]:
df.iloc[[0,1,2],0]

0    1
1    1
2    1
Name: engine_id, dtype: int64

In [16]:
df.iloc[-5:]

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [17]:
df.loc[0, 'engine_id']

np.int64(1)

In [18]:
df.loc[:, ['engine_id', 'cycle']]

       engine_id  cycle
0              1      1
1              1      2
2              1      3
3              1      4
4              1      5
...          ...    ...
20626        100    196
20627        100    197
20628        100    198
20629        100    199
20630        100    200

[20631 rows x 2 columns]

In [19]:
df.set_index('engine_id', inplace=True)

In [22]:
df.engine_id == 1

0         True
1         True
2         True
3         True
4         True
         ...
20626    False
20627    False
20628    False
20629    False
20630    False
Name: 0, Length: 20631, dtype: bool

In [23]:
df.loc[df.engine_id == 1]

,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
engine_id,,,,,,,,,,,,,,,,,,,,,
1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,21.61,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,21.61,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,21.61,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,21.61,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,21.61,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,21.61,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,21.61,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [30]:
df.reset_index(inplace=True)

In [31]:
df.columns

Index(['index', 'engine_id', 'cycle', 'op_setting_1', 'op_setting_2',
       'op_setting_3', 'sensor_1', 'sensor_2', 'sensor_3', 'sensor_4',
       'sensor_5', 'sensor_6', 'sensor_7', 'sensor_8', 'sensor_9', 'sensor_10',
       'sensor_11', 'sensor_12', 'sensor_13', 'sensor_14', 'sensor_15',
       'sensor_16', 'sensor_17', 'sensor_18', 'sensor_19', 'sensor_20',
       'sensor_21'],
      dtype='object')

In [32]:
df.loc[(df.engine_id == 1) & (df.cycle >= 100)]

,index,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
99,99,1,100,-0.0021,-0.0003,100.0,518.67,642.22,1589.63,1411.35,...,521.55,2388.08,8132.49,8.4241,0.03,392,2388,100.0,38.93,23.4090
100,100,1,101,0.0012,0.0003,100.0,518.67,642.75,1584.18,1403.41,...,521.89,2388.08,8125.97,8.4353,0.03,391,2388,100.0,38.75,23.4149
101,101,1,102,0.0017,0.0005,100.0,518.67,642.85,1589.11,1403.42,...,521.38,2388.05,8130.40,8.4561,0.03,393,2388,100.0,38.94,23.3653
102,102,1,103,-0.0013,0.0001,100.0,518.67,642.21,1581.27,1403.21,...,521.41,2388.10,8124.40,8.4263,0.03,392,2388,100.0,38.69,23.4289
103,103,1,104,-0.0001,0.0001,100.0,518.67,642.29,1590.63,1406.25,...,522.38,2388.09,8131.89,8.4021,0.03,392,2388,100.0,38.96,23.3393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,187,1,188,-0.0067,0.0003,100.0,518.67,643.75,1602.38,1422.78,...,519.79,2388.23,8117.69,8.5207,0.03,396,2388,100.0,38.51,22.9588
188,188,1,189,-0.0006,0.0002,100.0,518.67,644.18,1596.17,1428.01,...,519.58,2388.33,8117.51,8.5183,0.03,395,2388,100.0,38.48,23.1127
189,189,1,190,-0.0027,0.0001,100.0,518.67,643.64,1599.22,1425.95,...,520.04,2388.35,8112.58,8.5223,0.03,398,2388,100.0,38.49,23.0675
190,190,1,191,-0.0000,-0.0004,100.0,518.67,643.34,1602.36,1425.77,...,519.57,2388.30,8114.61,8.5174,0.03,394,2388,100.0,38.45,23.1295
191,191,1,192,0.0009,-0.0000,100.0,518.67,643.54,1601.41,1427.20,...,520.08,2388.32,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649

In [33]:
df.loc[(df.engine_id == 1) | (df.cycle >= 100)]

,index,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [34]:
df.loc[df.engine_id.isin([1, 2, 3])]

,index,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,653,3,175,-0.0030,0.0004,100.0,518.67,643.15,1603.74,1424.17,...,520.34,2388.14,8238.86,8.5066,0.03,396,2388,100.0,38.49,22.9909
654,654,3,176,-0.0008,0.0002,100.0,518.67,643.93,1595.61,1438.51,...,520.91,2388.12,8251.82,8.5245,0.03,396,2388,100.0,38.49,23.0656
655,655,3,177,-0.0041,-0.0002,100.0,518.67,643.68,1601.21,1423.50,...,520.19,2388.16,8249.86,8.5286,0.03,397,2388,100.0,38.37,23.0336
656,656,3,178,-0.0010,0.0001,100.0,518.67,643.66,1606.50,1430.55,...,520.14,2388.12,8253.84,8.5351,0.03,399,2388,100.0,38.57,23.1323
657,657,3,179,0.0012,0.0000,100.0,518.67,643.51,1604.80,1428.23,...,519.53,2388.20,8255.34,8.5056,0.03,398,2388,100.0,38.40,22.9562

In [35]:
df.loc[df.cycle.notnull()]

,index,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522