In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Projects\PrognosAI\dataset\train_FD001.txt", sep=r"\s+", header=None)

In [4]:
column_names = ['engine_id', 'cycle'] + \
               [f'op_setting_{i}' for i in range(1, 4)] + \
               [f'sensor_{i}' for i in range(1, 22)]

df.columns = column_names

In [5]:
df.engine_id.describe()

count    20631.000000
mean        51.506568
std         29.227633
min          1.000000
25%         26.000000
50%         52.000000
75%         77.000000
max        100.000000
Name: engine_id, dtype: float64

In [6]:
df.cycle.describe()

count    20631.000000
mean       108.807862
std         68.880990
min          1.000000
25%         52.000000
50%        104.000000
75%        156.000000
max        362.000000
Name: cycle, dtype: float64

In [7]:
df.engine_id.mean()

np.float64(51.506567786340945)

In [8]:
df.engine_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [9]:
df.engine_id.value_counts()

engine_id
69    362
92    341
96    336
67    313
83    293
     ...
58    147
70    137
57    137
91    135
39    128
Name: count, Length: 100, dtype: int64

In [19]:
engine_id_mean = df.engine_id.mean()
df.engine_id.map(lambda x: x - engine_id_mean)

0       -50.506568
1       -50.506568
2       -50.506568
3       -50.506568
4       -50.506568
           ...
20626    48.493432
20627    48.493432
20628    48.493432
20629    48.493432
20630    48.493432
Name: engine_id, Length: 20631, dtype: float64

In [ ]:

sensor_1_mean = df['sensor_1'].mean()

def remean_sensor_1(row):
    row['sensor_1'] = row['sensor_1'] - sensor_1_mean
    return row

df.apply(remean_sensor_1, axis='columns')

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1.0,1.0,-0.0007,-0.0004,100.0,0.0,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392.0,2388.0,100.0,39.06,23.4190
1,1.0,2.0,0.0019,-0.0003,100.0,0.0,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392.0,2388.0,100.0,39.00,23.4236
2,1.0,3.0,-0.0043,0.0003,100.0,0.0,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390.0,2388.0,100.0,38.95,23.3442
3,1.0,4.0,0.0007,0.0000,100.0,0.0,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392.0,2388.0,100.0,38.88,23.3739
4,1.0,5.0,-0.0019,-0.0002,100.0,0.0,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393.0,2388.0,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100.0,196.0,-0.0004,-0.0003,100.0,0.0,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397.0,2388.0,100.0,38.49,22.9735
20627,100.0,197.0,-0.0016,-0.0005,100.0,0.0,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395.0,2388.0,100.0,38.30,23.1594
20628,100.0,198.0,0.0004,0.0000,100.0,0.0,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398.0,2388.0,100.0,38.44,22.9333
20629,100.0,199.0,-0.0011,0.0003,100.0,0.0,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395.0,2388.0,100.0,38.29,23.0640
20630,100.0,200.0,-0.0032,-0.0005,100.0,0.0,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396.0,2388.0,100.0,38.37,23.0522

In [23]:
df.engine_id.head(1)

0    1
Name: engine_id, dtype: int64